<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Editable Table Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/css/jsgrid/jsgrid.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/jsgrid/jsgrid-theme.min.css" />
	<script type="text/javascript" src="/js/jsgrid/jsgrid.js"></script>
	


<body>



<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-12 col-lg-9 col-xl-9">
    <div class="card">
        <div class="card-header">
            <h4 class="text-xs-center">訂單詳情<span class="fa fa-edit float-xs-right bigicon"></span></h4>
        </div>
        <div class="card-block text-xs-center">            
            <table class="table table-striped table-hover " width="100"  >
              <thead>
                <tr>
                  <th scope="col">商店</th>
                  <th scope="col">產品</th>
                  <th scope="col">訂單編號</th>
                  <th scope="col">售價</th>
                  <th scope="col">稅</th>
                  <th scope="col">數量</th>
                  <th scope="col">已付</th>
                </tr>
              </thead>
              <tbody>
                <% var total %>
                  <% for(var i=0; i < data.length; i++) { %>  
                  <tr>
                      <th scope="row"><%= data[i].name %></th>
                      <td><%= data[i].alias %></td>
                      <td><%= data[i].order_number %></td>
                      <td><%= data[i].unit_price %></td>
                      <td><%= data[i].taxes_money %></td>
                      <td><%= data[i].number %></td>
                       <td><%= data[i].pay_money %></td>
                  </tr>

                 <% } %>
              </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>